@font-face
  font-family: 'sell-icon'
  src:  url('common/fonts/sell-icon.eot?nowozp')
  src:  url('common/fonts/sell-icon.eot?nowozp#iefix') format('embedded-opentype'),
    url('common/fonts/sell-icon.ttf?nowozp') format('truetype'),
    url('common/fonts/sell-icon.woff?nowozp') format('woff'),
    url('common/fonts/sell-icon.svg?nowozp#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-arrow_lift:before
  content: "\e900"

.icon-check_circle:before
  content: "\e901"

.icon-close:before
  content: "\e902"

.icon-favorite:before
  content: "\e903"

.icon-keyboard_arrow_right:before
  content: "\e904"

.icon-remove_circle_outline:before
  content: "\e905"

.icon-shopping_cart:before
  content: "\e906"

.icon-thumb_down:before
  content: "\e907"

.icon-thumb_up:before
  content: "\e908"

.icon-add_circle:before
  content: "\1f4"
